node_modules
.env
.dist/
/generated/prisma
scripts/
.vscode/
.DS_Store
.*log
npm-debug.log*
build/
coverage/
.idea/
*.iml
.cache/
migrations/
.pnp.*
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/releases
debug.log*
logs/
*.tsbuildinfo


















